
/********* 页面初始化 *********/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
    box-sizing: border-box;

}
li {
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}
.disappear {
    display: none;
}
.appear {
    position: fixed;
    z-index: 100;
}
/***** 头部 header 样式 *******/
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #1cb3c3;
    color: #D0FEFF;
    flex-direction: row;
    justify-content: space-between;
}
header>span {
    font-size: 16px;
    margin-top: 5px;
}
header>span:nth-child(1) {
    margin-left: 15px;
}
header>span:nth-child(3) {
    margin-right: 15px;
    font-size: 18px;
}
header>span:nth-child(2) span {
    position: relative;
    top: -5px;
}

/***** 占据header 位置的盒子*******/
#box-header {
    width: 100%;
    height: 40px;
}
/***** 占据 nav 的位置的盒子 *******/

/****** 导航栏 nav 样式  ****/
nav {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background-color: #1cb3c3;
    overflow: hidden;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    padding: 6px 14px ;
    border-radius: 5px;
}
nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 10px 'Microsoft YaHei UI';
    color: #D0FEFF;

}
nav ul li a span:nth-child(2){
    margin: 2px 0;;
}
nav ul li:nth-child(2) {
    background-color: #EBFCFE;
    font-weight: 700 !important;
}

nav ul li:nth-child(2) a {
    color: #1cb3c3;
}
nav ul li:last-of-type {
    border-left: 1px solid #D0FEFF;
    border-radius: 0;
}
nav ul li:last-of-type a .time{
    font-size: 20px;
}
nav ul li:last-of-type a span:nth-child(2) {
    padding-top: 2px;
    font-size: 12px;
}

/*****  主体 section 模块 ******/
section {
    /* height根据屏幕大小不同来设置高度 */
    height: 450px;
    /* 给 section 自动添加滚动条 */
    overflow: auto;
}
.plane {
    overflow: auto;
}
section li:nth-child(1) {
    width: 100%;
    height: 60px;
}
section ul li a {
    width: 100%;
    height: 85px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    color: #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}
section ul li a .up{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
}
section ul li a .up>div {
    display: flex;
    flex-direction: column;
    width: 85px;
    padding-top: 10px;
    /*background-color: pink;*/
}
section ul li a .up>div span {
    text-align: center;
}
section ul li a .up>div span:nth-child(1) {
    font-size: 18px;
    color: #333333;
}
section ul li a .up>div span:nth-child(2) {
    font-size: 10px;
}
section ul li a .up>div:last-of-type {
    align-items: flex-end;
}
section ul li a .up>div:first-of-type {
    align-items: flex-start;
}
section ul li a .up>div .price {
    color: #E38E2B !important;
}
section ul li a .up>div .attention {
    width: 55px;
    height: 14px;
    color: #FFD697;
    background-color: #E38E2B !important;
}
section ul li a .up>div:nth-child(2) {
    font-size: 20px;
}
section ul li a .up .arrow div {
    position: relative;
    top: 20px;
    width: 70px;
    height: 1px;
    background-color: #AAAAAA;
}

section ul li a .up .arrow span {
    position: relative;
    top: 10px;
    left: 32px;
}

/**** 页脚 footer ****/

footer {
    position: fixed;
    /*!* top 根据平布大小不同来设置 *!*/
    top: 449px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fff;
}
footer div {
    display: flex;
    top: 200px;
    flex-direction: column;
    align-items: center;
}
footer div span {
    color: #AAAAAA;
    font-size: 12px;
}